
Drosophila_melanogaster.BDGP6.28.101.gtf
script/altered_scripts/.Rproj.user
script/original_scripts/.Rproj.user
script/original_scripts/.Rhistory
script/original_scripts/.Rproj.user/shared/notebooks/paths
.Rproj.user
script/altered_scripts/.Rhistory
script/altered_scripts/.RData
script/original_scripts/.Rproj.user/shared/notebooks/paths
script/original_scripts/.RData
script/original_scripts/.Rproj.user/shared/notebooks/paths
.DS_Store
